header{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px; 
}

main{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

body{
    background-color: #000203;
        font-family: 'Times New Roman', Times, serif;
}
nav{
    display: flex;
    justify-content: center;
    background-color: #7c1515;
}

nav ul{
    list-style: none; 
    display: flex; 
}

nav li{
    margin: 10px;
}

nav a{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}
nav a:hover{
    color: #ff0000;
    text-decoration: underline;
}