*{
    margin: 0px;
}
body {
        background-color: #000203;
        font-family: 'Times New Roman', Times, serif;
}

header{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px; 
}

.mapa{text-align:center;
    background-color: #000000;
    border: 10px solid #000000;
    padding: 15px;
    margin: 20px;
    color:#ffffff
    
    
}

img{
    max-width: 100%;
}

.mapadlc{text-align:center;
    background-color: #000000;
    border: 10px solid #000000;
    padding: 15px;
    margin: 20px;
    color:#ffffff
}

.tarnished{text-align:center;
    background-color: #000000;
    border: 10px solid #000000;
    padding: 15px;
    margin: 20px;
    color:#ffffff
}

nav{
    display: flex;
    justify-content: center;
    background-color: #a81010;
}

nav ul{
    list-style: none; 
    display: flex; 
}

nav li{
    margin: 10px;
}

nav a{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}
nav a:hover{
    color: #b6b5b5;
    text-decoration: underline;
}

footer{
    color: #ffffff;
}
