
body {
        background-color: #ffffff;
        font-family: 'Times New Roman', Times, serif;
}

header{
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 20px; 
}

.arma{text-align:center;
    background-color: #ffffff;
    border: 10px solid #000000;
    padding: 15px;
    margin: 20px;
    color:#000000
}
.Cinza{text-align:center;
    background-color: #ffffff;
    border: 10px solid #000000;
    padding: 15px;
    margin: 20px;
    color:#000000

}
nav{
    display: flex;
    justify-content: center;
    background-color: #7c1515;
}

nav ul{
    list-style: none; 
    display: flex; 
}

nav li{
    margin: 10px;
}

nav a{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}
nav a:hover{
    color: #b6b5b5;
    text-decoration: underline;
}